ALTER TABLE processos_emendas 
  DROP COLUMN IF EXISTS emenda_origem,
  DROP COLUMN IF EXISTS emenda_lei_portaria,
  DROP COLUMN IF EXISTS emenda_funcao_legislativa,
  DROP COLUMN IF EXISTS emenda_num_emenda,
  DROP COLUMN IF EXISTS emenda_num_proposta,
  DROP COLUMN IF EXISTS emenda_tipo,
  DROP COLUMN IF EXISTS emenda_bloco,
  DROP COLUMN IF EXISTS emenda_valor_raw,
  DROP COLUMN IF EXISTS emenda_valor_formatado,
  DROP COLUMN IF EXISTS emenda_exercicio,
  DROP COLUMN IF EXISTS emenda_banco,
  DROP COLUMN IF EXISTS emenda_justificativa,
  DROP COLUMN IF EXISTS social_num_emenda,
  DROP COLUMN IF EXISTS social_ano,
  DROP COLUMN IF EXISTS social_objeto,
  DROP COLUMN IF EXISTS social_origem,
  DROP COLUMN IF EXISTS social_modalidade,
  DROP COLUMN IF EXISTS social_cnpj_concessor,
  DROP COLUMN IF EXISTS social_cnpj_beneficiaria,
  DROP COLUMN IF EXISTS social_razao_social,
  DROP COLUMN IF EXISTS social_autores_repasses,
  DROP COLUMN IF EXISTS social_valor_total,
  DROP COLUMN IF EXISTS sincronizado_em,
  DROP COLUMN IF EXISTS atualizado_em;
